@import 'src/styles/theme/variables';

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-small;
  align-items: center;
  width: 100%;
}

.page-actions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-small;
  align-items: center;
  width: 100%;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}
