@import '../../styles/theme/variables.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, $primary-color, $primary-color-dark);
  padding: $spacing-medium;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-small;
  }
}

.login-wrapper {
  background: white;
  padding: $spacing-large;
  border-radius: $border-radius-large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40%;
  max-width: 500px;
  margin: auto;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    padding: $spacing-medium;
    border-radius: $border-radius-small;
  }

  .form-btn {
    margin-top: $spacing-medium;
    width: 100%;
  }
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: $spacing-medium;

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    color: $text-color-light;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      font-size: 1.5rem;
    }
  }

  img {
    width: auto;
    max-height: 150px;
    margin-top: $spacing-small;

    @media (max-width: $breakpoint-md) {
      max-height: 100px;
    }
  }
}


