@import "src/styles/theme/variables.scss";

.search-btn {
  position: relative;
  padding: $spacing-small; // Using spacing variable for padding
  border-radius: 50%; // Making the button circular
  color: $text-color; // Using text color variable
  cursor: pointer; // Adding cursor pointer for better UX
  transition: ease-in-out $transition-medium; // Using transition variable for hover effect
  display: flex; // Ensuring proper alignment of SVG
  border: none;
  background-color: transparent; // Removing default background color

  &:hover {
    background-color: $shade-dark; // Changing background color on hover
  }
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: $border-radius-small;
  border: 1px solid $border-color; // Using border color variable
  z-index: 100;
  background-color: #fff; // Using background color variable
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;

  input {
    flex: 1; // Allowing input to take remaining space
    height: 100%;
    padding: $spacing-small; // Using spacing variable for padding
    font-size: $font-size-medium; // Using font size variable
    outline: none;
    border: none;
    background-color: transparent;
    color: $text-color; // Using text color variable
  }
}
