@import '../../styles/theme/variables.scss';

.warning-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $danger-color; // Use the danger color for the text
  padding: $spacing-medium; // Use the medium spacing for padding
  border-radius: $border-radius-medium; // Use the medium border radius
  text-align: center;
  font-weight: $font-weight-bold; // Use the bold font weight

  .warning-icon {
    font-size: 2rem;
    margin-bottom: $spacing-small; // Use the small spacing for the bottom margin
  }
}
