@import '../../../../styles/theme/variables';

// Items List
.item-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium; // Use theme variable for consistent spacing
}

// Item Card
.item-card {
  background-color: $card-background-color; // Use theme variable for background
  border-radius: $border-radius; // Use theme variable for border radius
  box-shadow: $box-shadow; // Use theme variable for box shadow
  padding: $spacing-medium; // Use theme variable for padding
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  gap: $spacing-small; // Use theme variable for spacing
  align-items: center;
  width: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-hover; // Use theme variable for hover box shadow
  }

  .item-card-image {
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover; // Ensure image covers the area without distortion
    }
  }

  .item-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color; // Use theme variable for text color
    }

    p {
      color: $text-color-light; // Use theme variable for muted text color
      margin: 0;
    }
  }

  .item-inventory-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-small; // Use theme variable for spacing
    height: 100%;
    list-style-type: none;

    .item-inventory {
      color: $text-color-light; // Use theme variable for muted text color
      text-align: left;
      background-color: $shade-light;
      padding: calc($spacing-small / 2); // Use theme variable for paddingz
      border-radius: $border-radius-small; // Use theme variable for small border radius

      strong {
        color: $text-color; // Use theme variable for text color
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: left;
    padding: $spacing-small;

    .item-card-image {
      margin: 0 auto $spacing-small;
      border-radius: 0;

      img {
        width: 150px;
        height: auto;
      }
    }

    .item-card-details {
      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.875rem;
      }
    }

    .item-card-list {
      align-items: center;

      .item-card-inventory {
        text-align: center;
        width: 100%;
      }
    }
  }
}
