@import 'src/styles/theme/variables.scss';

.btn-danger {
  background-color: $danger-color !important;
  color: $surface-color !important;

  &:hover {
    background-color: darken($danger-color, 10%) !important;
  }
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index-modal;

  .confirmation-content {
    background-color: $surface-color;
    padding: $spacing-large; // Slightly larger padding for a more spacious look
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-dark;
    width: 80%;
    max-width: 400px;
    position: relative;
    animation: scaleUpModal $transition-medium;

    p {
      margin-bottom: $spacing-medium;
      text-align: center;
      color: $text-color;
    }

    .confirm-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacing-medium;

      button {
        margin: 0 $spacing-small;
        border-radius: $border-radius-small !important;
        width: fit-content !important;
        height: fit-content !important;
        padding: $spacing-small $spacing-medium !important;

        &.cancel-button {
          background-color: $primary-color;
          color: $surface-color;

          &:hover {
            background-color: $primary-color-dark;
          }
        }

        &.confirm-button {
          background-color: $danger-color;
          color: $surface-color;

          &:hover {
            background-color: darken($danger-color, 10%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .confirmation-modal .confirmation-content {
    width: 90%;
  }
}
