@import 'src/styles/theme/variables.scss';

/* ItemCard.scss */

.item-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: $spacing-small;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    img {
      max-width: 100%;
      max-height: 200px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .item-inventory {
    .item-details {
      margin-bottom: 16px;

      h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
      }

      p {
        margin: 4px 0 0;
        font-size: 1rem;
        color: #666;
      }
    }

    .stat-list {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 16px;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        background-color: #f9f9f9;
        border-radius: 8px;
        min-width: 80px;
        margin-right: $spacing-small;

        .stat-label {
          font-size: 0.875rem;
          color: #999;
          margin-bottom: 4px;
        }

        .stat-value {
          font-size: 1.25rem;
          color: #333;
        }
      }
    }

    .location-list {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: $spacing-small;

      .location-inventory {

        p {
          margin: 0;
          font-size: 1rem;
          color: #666;

          strong {
            color: #333;
          }
        }
      }
    }
  }
}




