@import 'theme/variables.scss';
@import 'theme/form.scss';
@import 'theme/table.scss';
@import 'theme/ui.scss';
@import 'theme/typography.scss';
@import 'theme/heading.scss';
@import 'theme/details.scss';
@import 'src/styles/theme/variables.scss';

.container {
  display: grid;
  grid-template-columns: 250px 1fr; // Sidebar (250px) and content
  min-height: 100vh; // Full height of the viewport
  width: 100%;

  // Content Section
  .content {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: $spacing-medium;
    overflow: hidden;

    .section {
      padding: $spacing-medium;
      display: flex;
      flex-direction: column;
      gap: $spacing-large;
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
    }
  }

  // For mobile responsiveness
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr; // Single column layout on smaller screens
    grid-template-rows: auto 1fr; // Ensure content takes available space

    .content {
      padding: $spacing-small; // Adjust padding for smaller screens
    }
  }
}


.loading,
.error {
  text-align: center;
  font-size: $font-size-medium;
  color: $text-color-light;
}












