@import 'src/styles/theme/variables.scss';

/* LocationPageHeading.scss */

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-button {
  cursor: pointer;
  color: $text-color-light;
  padding: $spacing-small;
  background-color: $shade-light;
  margin-left: auto;

  &:hover {
    background-color: $shade-dark;
    color: $text-color;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  color: $text-color-light;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-content button {
  display: block;
  border: none;
  color: $text-color;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

