@import '../../../../styles/theme/variables';

.location-inventory-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium; // Use theme variable for consistent spacing
  padding: 0;
  list-style-type: none;
}



