@import 'src/styles/theme/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-small;
  background-color: $surface-color;
  box-shadow: $box-shadow-medium;
  color: $text-color;
  position: sticky;
  top: 0;
  z-index: 10000;

  .logo {
    display: flex;
    align-items: center;

    svg {
      font-size: 2.5rem;
      margin-right: $spacing-small;
    }

    h1 {
      font-size: $font-size-xlarge;
      margin: 0;
    }
  }

  .nav-btn {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    color: $text-color-light;
    font-size: $font-size-xlarge;
    cursor: pointer;

    &:hover {
      color: $text-color;
    }
  }

}

// Media Queries for Mobile Responsiveness
@media (max-width: $breakpoint-md) {
  .navbar {
    align-items: flex-start;
    padding: $spacing-small;

    .logo {
      margin-bottom: $spacing-small;
    }

    .user-options {
      display: none;
    }

    .nav-btn {
      display: block;
      margin-left: auto;
    }
  }

  .navbar.show-menu .menu-list {
    display: flex;
  }
}
