@import 'src/styles/theme/variables.scss';

.inventory-list {
  list-style-type: none;
  margin-top: $spacing-medium;

  .inventory-records-list {
    margin-bottom: $spacing-medium;
    padding: $spacing-small;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: 1px solid #ddd;
  }
}

.item-heading {
  h2 {
    font-weight: normal;
    color: $text-color-light;
  }
}