@import 'src/styles/theme/variables.scss';

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: $surface-color;
  transform: translateX(100%);
  transition: transform $transition-medium;
  z-index: $z-index-dropdown;
  border-bottom-left-radius: $border-radius-medium;
  border-top-left-radius: $border-radius-medium;

  &.open {
    transform: translateX(0);
    box-shadow: $box-shadow-medium;
  }

  .user-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacing-small;
    margin: $spacing-small 0;
    background-color: $surface-color;
    gap: $spacing-small;

    .user-icon-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #007bff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $box-shadow-light;

      svg {
        font-size: 3rem;
        color: $surface-color;
      }
    }

    .user-name {
      font-size: 1.25rem;
      color: $text-color;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: $spacing-small;

    .close-btn {
      background: none;
      border: none;
      color: $text-color-light;
      font-size: $font-size-xlarge;
      cursor: pointer;

      &:hover {
        color: $danger-color;
      }
    }
  }

  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;

    .sidebar-link {
      display: flex;
      align-items: center;
      padding: $spacing-medium;
      color: $text-color-light;
      text-decoration: none;
      font-size: $font-size-large;
      border-bottom: 1px solid $border-color;
      transition: background-color $transition-medium;

      &:hover {
        background-color: $shade-dark;
      }

      svg {
        margin-right: $spacing-small;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .sidebar-logout-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: $spacing-medium;

    .sidebar-logout-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

// Animation for slide-out sidebar
.sidebar {
  transition: transform $transition-medium;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }
}
