@import "src/styles/theme/variables.scss";

.popup-overlay {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Semi-transparent background for overlay
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn $transition-medium;
}

.popup-box {
  background-color: $background-color;
  box-shadow: $box-shadow-dark;
  width: 90%; // Responsive width
  height: 80%; // Responsive height
  animation: fadeUp $transition-medium;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: $border-radius-medium; // Rounded corners
  overflow: hidden; // Ensure content doesn't overflow
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-medium;
  border-bottom: 1px solid $border-color;
  position: relative;
  z-index: $z-index-tooltip;
  background-color: $shade-light;

  .panel-label {
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin: 0;
  }

  .close-button {
    border: none;
    cursor: pointer;
    width: 2.5rem; // Adjust size of the button
    height: 2.5rem;
    border-radius: 50%; // Make it round
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: #fff; // Ensure icon is visible
    transition: background-color $transition-medium, color $transition-medium;
    padding: 0;

    svg {
      width: 1.2rem; // Size for the SVG icon
      height: 1.2rem;
    }

    &:hover {
      background-color: $primary-color-dark;
      color: $surface-color; // Change icon color on hover if needed
    }
  }
}

.popup-content {
  height: 100%; // Flexible height
  overflow-y: auto; // Allow vertical scrolling
  padding: $spacing-medium; // Add padding
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Media Queries for Mobile Responsiveness
@media (max-width: $breakpoint-md) {
  .popup-box {
    width: 95%;
    height: 85%;
    max-width: none;
    max-height: none;
  }

  .popup-header {
    padding: $spacing-small;
  }

  .popup-content {
    padding: $spacing-small;
  }
}
