@import '../../styles/theme/variables'; // Adjust the path according to your project structure

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    text-transform: uppercase;
  }
}