@import '/src/styles/theme/variables.scss';

// Define material design spacing and typography

$spacing-large: 24px;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$text-color: #212121; // Darker text color for better readability
$text-color-light: #757575; // Light text color for muted labels

.item-location-details {
  display: flex;
  align-items: flex-start;
  gap: $spacing-medium; // Increased gap for better spacing
  padding: $spacing-small; // Added padding for a cleaner look
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start; // Align items to the start for better vertical alignment
    padding: $spacing-medium; // Adjust padding for smaller screens
  }

  .location-icon {
    flex: 1;
    display: flex;
    min-height: 200px;
    margin: auto;
    min-width: 200px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 4rem; // Adjusted size for better fit
    color: $text-color; // Use theme variable for icon color
    background-color: #f5f5f5; // Background for better contrast
    border-radius: 8px; // Rounded corners for the icon container
    padding: $spacing-small; // Padding around the icon
  }

  .item-location-info {
    flex: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $spacing-small; // Padding for better spacing within the info section
    height: 100%;

    button {
      width: fit-content;
      margin-top: $spacing-medium; // Margin for spacing

      @media (max-width: 768px) {
        width: 100%; // Full width for better mobile experience
      }
    }

    h2 {
      font-size: $font-size-large; // Large font size for headers
      color: $text-color; // Use theme variable for text color
    }

    p {
      font-size: $font-size-medium; // Medium font size for paragraphs
      margin: 0 0 $spacing-small 0; // Consistent margin for spacing
      color: $text-color; // Use theme variable for muted text color
    }
  }
}
