@import "src/styles/theme/variables.scss";

// Define the form styles
.form {
  button {
    margin-top: $spacing-medium
  }

  .form-group {
    margin-bottom: $spacing-small;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color-light;
      font-weight: normal;
      text-align: left;
    }

    input[type="checkbox"] {
      width: 40px;
    }

    input,
    textarea {
      width: 100%;
      padding: $spacing-small;
      border: 1px solid #ddd;
      border-radius: $border-radius-small;
      font-size: 16px;
      background-color: #f4f4f4;
    }

    .form-textarea {
      min-height: 100px;
    }
  }
}

// Define the layout for the form
.form-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $spacing-medium;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .placeholder-image {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: max(1rem, 4rem);
        color: $shade-dark;
      }
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
}
