@import "src/styles/theme/variables.scss";

// Define the form styles
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: $spacing-medium;

  button {
    margin-top: $spacing-small;
    padding: $spacing-small $spacing-medium;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $border-radius-small;
    font-size: 16px;
    cursor: pointer;
    transition: background-color $transition-medium;

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  .form-group {
    margin-bottom: $spacing-medium;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      display: block;
      color: $text-color;
      font-weight: 600;
      text-align: left;
      margin-bottom: $spacing-xsmall;
      font-size: 1rem;
    }

    input[type="checkbox"] {
      width: 40px;
    }

    input,
    textarea {
      width: 100%;
      padding: $spacing-small;
      border: 1px solid $border-color;
      border-radius: $border-radius-small;
      font-size: 16px;
      background-color: $shade-light;
      transition: border-color $transition-fast, box-shadow $transition-fast;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 3px rgba($primary-color, 0.2);
        outline: none;
      }
    }

    .form-textarea {
      min-height: 150px;
      resize: vertical;
    }
  }
}

// Define the layout for the form
.form-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-large;
  margin-bottom: $spacing-large;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
    background-color: $shade-light;
    border-radius: $border-radius-small;
    position: relative;

    .placeholder-image {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $shade-light;
      border-radius: $border-radius-small;

      svg {
        font-size: 4rem;
        color: $shade-dark;
      }
    }

    img {
      width: auto;
      height: 100%;
      border-radius: $border-radius-small;
      object-fit: cover;
      transition: transform $transition-fast;
    }
  }
}