@import './variables.scss';

.content {
  flex: 1;
  background-color: $background-color;
  padding: $spacing-medium;
  height: 100%;
  overflow: auto;

  .body {
    background-color: #fff;
    padding: $spacing-small;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    height: 100%;
    overflow: scroll;
  }

  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-small;

    h2 {
      font-weight: normal;
      color: $text-color-light;
    }
  }
}

.page-actions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-small;
  align-items: center;
  margin-bottom: $spacing-medium;
}

.item-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .placeholder-image {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: max(1rem, 4rem);
        color: $shade-dark;
      }
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  list-style-type: none;
  border-radius: 8px;
}

.location-details {
  background-color: #f8f9fa; /* Light background for contrast */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 20px 0; /* Spacing around the component */
}

.location-header {
  margin-bottom: 20px; /* Space between header and values */
}

.location-header h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333; /* Darker color for the title */
}

.location-header p {
  margin: 5px 0 0;
  color: #666; /* Subtle color for the description */
}

.inventory-values {
  display: flex;
  justify-content: space-between; /* Spread the values */
  margin-top: 10px;
}

.value {
  display: flex;
  align-items: center;
}

.value span {
  margin-right: 5px;
  font-weight: bold;
  color: #444; /* Slightly darker color for labels */
}

.value strong {
  color: #000; /* Black color for strong contrast */
}


.inventory-values {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;

  .value {
    margin-bottom: $spacing-small;

    span {
      color: $text-color-light;
    }

    strong {
      font-weight: bold;
    }
  }
}

//.stat-list {
//  display: grid;
//  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//  gap: $spacing-small;
//  margin-bottom: $spacing-small;
//  width: 100%;
//  background-color: rebeccapurple;
//
//  .stat {
//    background-color: red;
//
//    strong {
//      font-weight: bold;
//    }
//  }
//}



