@import './variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;

  thead {
    background-color: $shade-light;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;

    th {
      padding: 16px;
      text-align: left;
      font-weight: 500;
      color: #424242;
    }
  }

  tbody {
    tr {
      transition: background-color 0.3s ease;

      &:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
      }

      .record-notes {
        min-width: 200px;

        .notes-text {
          margin: 0;
          text-align: left;
        }
      }

      .record-item-actions {
        display: flex;
        align-items: flex-start;

        button {
          padding: 8px 12px;
          margin-right: 10px;
          background-color: $shade-light;
          color: $text-color-light;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }


      td {
        padding: 12px 16px;
        color: #616161;


      }
    }

    &:last-of-type {
      td {

        .button {
          background-color: transparent;
          border: none;
          color: #007bff;
          padding: 10px 0;
          text-align: center;
          cursor: pointer;
          align-items: center;
          font-weight: bold;
        }
      }
    }
  }

  .record-receipt {
    .receipt-icon {
      font-size: 2em;
      display: flex;
      align-items: center;

      svg {
        margin: 0;
      }
    }
  }
}

.select-table {
  width: 100%;
  border-collapse: collapse;

  td {
    min-width: 100px;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
  }

  thead {
    background-color: $shade-light;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;

    th {
      padding: 16px;
      text-align: left;
      font-weight: 500;
      color: #424242;
    }
  }

  tbody tr {
    color: $text-color-light;

    strong {
      color: $text-color;
    }

    &:hover {
      background-color: #f1f1f1;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }

  .select-table-row {
    cursor: pointer;

    .tbl-image {
      width: 100px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .tbl-icon {
      width: 100px;

      svg {
        height: 80px;
        width: 80px;
        color: $text-color-light;
        background-color: $shade-light;
        padding: 20px;
        border-radius: 50%;
      }
    }

    .tbl-details {
      min-width: 200px;

      h2 {
        margin: 0;
        font-size: 1.25em;
        color: $text-color
      }
    }

    .item-card-stat {
      p {
        margin: 0;
      }
    }

    .item-card-inventory {
      p {
        margin: 0;
        font-weight: bold;
      }
    }
  }
}