@import './variables.scss';

// Ui Elements
button {
  background: $primary-color;
  color: $surface-color;
  border: none;
  border-radius: $border-radius-small;
  padding: $spacing-small $spacing-medium;
  cursor: pointer;
  transition: $transition-medium;
  align-items: center;
  display: flex;
  gap: $spacing-small;

  .icon {
    font-size: 1.2rem;
  }

  &:hover {
    background: $primary-color-dark; /* Darker primary color on hover */
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none; /* Remove default checkbox appearance */
  width: 40px; /* Adjust the width of the switch */
  height: 20px; /* Adjust the height of the switch */
  background-color: $shade-dark; /* Background color when unchecked */
  border-radius: $border-radius-small; /* Make it round */
  cursor: pointer; /* Change cursor to pointer */
  border: $border-width-thin solid $border-color;

  &:checked {
    background-color: $primary-color; /* Background color when checked */
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px; /* Adjust the vertical position */
    left: 2px; /* Adjust the horizontal position */
    width: 16px; /* Width of the switch handle */
    height: 16px; /* Height of the switch handle */
    background-color: $surface-color; /* Color of the switch handle */
    border-radius: 50%; /* Make it round */
    transition: $transition-medium; /* Add a smooth transition effect */
  }

  &:checked::before {
    transform: translateX(20px); /* Move the switch handle to the right when checked */
  }
}

textarea {
  width: 100%;
  padding: $spacing-small;
  border: $border-width-thin solid $border-color;
  border-radius: $border-radius-small;
  background-color: $shade-light;
  height: 100px;
  resize: none;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @media (max-width: $breakpoint-md) {
    button {
      width: 100%;
    }
  }
}

.chip {
  border-radius: $border-radius-small;
  font-weight: $font-weight-bold;
  padding: $spacing-xsmall $spacing-small;
  display: flex;
  width: fit-content;

  &.green {
    background-color: rgba($success-color, 0.2);
    color: $success-color;
  }

  &.red {
    background-color: rgba($danger-color, 0.2);
    color: $danger-color;
  }

  &.yellow {
    background-color: rgba($warning-color, 0.2);
    color: $warning-color;
  }
}

.table-wrapper {
  overflow-x: auto;
  border-radius: $border-radius-small;
}


// Inventory list module
.inventory-list {
  .inventory-item {
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    transition: box-shadow $transition-medium, border-color $transition-medium;
    position: relative; // To position the shadow

    &.expanded {
      box-shadow: $box-shadow-light;
      border: none;
    }

  }

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-medium;
    cursor: pointer;
    transition: background-color $transition-medium, padding $transition-medium;

    &.expanded {
      background-color: $shade-light; // Background color when expanded
    }

    &:hover {
      background-color: $shade-light; // Background color on hover
    }
  }

  .item-content {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height $transition-medium, padding $transition-medium;
    border-top: 1px solid $border-color; // Add border to separate content

    &.expanded {
      max-height: 500px; // Adjust to fit content, or calculate dynamically
      padding: $spacing-medium;
    }
  }

  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: $primary-color;
    transition: transform $transition-medium, color $transition-medium;


    svg {
      transition: transform $transition-medium;
    }
  }

  .add-record-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: $spacing-medium; // Centering button container
  }

  .add-record-btn {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    padding: $spacing-small $spacing-medium;
    border-radius: $border-radius-small;
    border: none;
    cursor: pointer;
    transition: background-color $transition-medium, transform $transition-medium;

    svg {
      margin-right: $spacing-small;
    }

    &:hover {
      background-color: $primary-color-dark;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-color-dark;
      transform: scale(0.98);
    }
  }
}