@import './variables.scss';

// Ui Elements
button {
  background: $primary-color;
  color: #fff;
  border: none;
  border-radius: $border-radius-small;
  padding: $spacing-small $spacing-medium;
  font-size: 16px;
  cursor: pointer;
  transition: ease-in-out .3s;
  align-items: center;
  display: flex;

  .icon {
    margin-right: $spacing-small;
    font-size: 1.2rem;
  }

  &:hover {
    background: $secondary-color; /* Gradient background on hover */
  }
}

// Back and Cancel buttons
.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: $text-color-light;
  font-size: 24px;
  padding: $spacing-small;
  border-radius: $border-radius-small;
  transition: ease-in-out .3s;
  display: flex;

  &:hover {
    background-color: $shade-dark;
    color: $text-color;
  }
}

// Display the inventory list of records for a item and location
.inventory-list {
  list-style-type: none;
  margin-top: $spacing-medium;

  .inventory-records-list {
    margin-bottom: $spacing-medium;
    padding: $spacing-small;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: 1px solid #ddd;

    .inventory-records {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: $spacing-small;
      padding: $spacing-small;
      background-color: #f9f9f9;
      border-radius: $border-radius-small;
      border: 1px solid #ddd;
    }
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none; /* Remove default checkbox appearance */
  width: 40px; /* Adjust the width of the switch */
  height: 20px; /* Adjust the height of the switch */
  background-color: $shade-dark; /* Background color when unchecked */
  border-radius: $border-radius; /* Make it round */
  cursor: pointer; /* Change cursor to pointer */
  border: 1px solid #ddd;

  &:checked {
    background-color: red; /* Background color when checked */
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px; /* Adjust the vertical position */
    left: 2px; /* Adjust the horizontal position */
    width: 16px; /* Width of the switch handle */
    height: 16px; /* Height of the switch handle */
    background-color: #fff; /* Color of the switch handle */
    border-radius: 50%; /* Make it round */
    transition: ease-in-out .3s; /* Add a smooth transition effect */
  }

  &:checked::before {
    transform: translateX(20px); /* Move the switch handle to the right when checked */
  }
}

textarea {
  width: 100%;
  padding: $spacing-small;
  border: 1px solid #ddd;
  border-radius: $border-radius-small;
  font-size: 16px;
  background-color: #e0e0e0;
  height: 100px;
  resize: none;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: $spacing-medium;

  @media (max-width: $mobile-breakpoint) {
    button {
      width: 100%;
    }
  }
}

.chip {
  border-radius: $border-radius-small;
  font-weight: bold;
  padding: 5px 10px;

  &.green {
    background-color: rgba(76, 175, 80, 0.2);
    color: #4caf50;
  }

  &.red {
    background-color: rgba(244, 67, 54, 0.2);
    color: #f44336;
  }

  &.yellow {
    background-color: rgba(255, 235, 59, 0.2);
    color: #ffeb3b;
  }

  &.number {
    color: #007bff;
    font-weight: bold;
  }
}

.panel {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-bottom: $spacing-medium;
  width: 100%;
  background-color: $card-background-color;
  overflow: hidden;
  border: 1px solid #ddd;

  .table-wrapper {
    overflow-x: auto;
  }
}

.record-actions {
  display: flex;
  align-items: center;
  gap: $spacing-small;
  width: fit-content;

  /* Ensure buttons have consistent height and alignment */
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px; /* Adjust padding as needed */
    border: none;
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    .icon {
      margin-right: $spacing-small;
    }
  }
}

// Heading for the sub pages
.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-medium;

  .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-small;
  }

  h2 {
    font-weight: normal;
    color: $text-color-light;
  }
}
